<!-- templates/cart/add.html.twig -->
{% extends 'base.html.twig' %}
{% block title %}
    Товар добавлен в корзину
{% endblock %}
{% block body %}
    <h1>Товар добавлен в корзину</h1>
    <p>Товар с ID: {{ productId }} был добавлен в вашу корзину.</p>
{% endblock %}
