<!-- templates/cart/remove.html.twig -->
{% extends 'base.html.twig' %}
{% block title %}
    Товар удален из корзины
{% endblock %}
{% block body %}
    <h1>Товар удален из корзины</h1>
    <p>Товар с ID: {{ productId }} был удален из вашей корзины.</p>
{% endblock %}
