<!-- templates/cart/view.html.twig -->
{% extends 'base.html.twig' %}
{% block title %}
    Корзина
{% endblock %}
{% block body %}
    <h1>Корзина</h1>
    <p>Содержимое вашей корзины.</p>
{% endblock %}
