<!-- templates/category/detail.html.twig -->
{% extends 'base.html.twig' %}
{% block title %}
    Детали категории
{% endblock %}
{% block body %}
    <h1>Детали категории</h1>
    <p>Детали категории с ID: {{ id }}</p>
{% endblock %}
