<!-- templates/category/list.html.twig -->
{% extends 'base.html.twig' %}
{% block title %}
    Список категорий
{% endblock %}
{% block body %}
    <h1>Список категорий</h1>
    <p>Здесь будет список всех категорий.</p>
{% endblock %}
