<!-- templates/category/new.html.twig -->
{% extends 'base.html.twig' %}
{% block title %}
    Добавить новую категорию
{% endblock %}
{% block body %}
    <h1>Добавить новую категорию</h1>
    <p>Форма для добавления новой категории.</p>
{% endblock %}
