<!-- templates/product/detail.html.twig -->
{% extends 'base.html.twig' %}
{% block title %}
    Детали продукта
{% endblock %}
{% block body %}
    <h1>Детали продукта</h1>
    <p>Детали продукта с ID: {{ id }}</p>
{% endblock %}
