<!-- templates/product/list.html.twig -->
{% extends 'base.html.twig' %}
{% block title %}
    Список продуктов
{% endblock %}
{% block body %}
    <h1>Список продуктов</h1>
    <p>Здесь будет список всех продуктов.</p>
{% endblock %}
