<!-- templates/product/new.html.twig -->
{% extends 'base.html.twig' %}
{% block title %}
    Добавить новый продукт
{% endblock %}
{% block body %}
    <h1>Добавить новый продукт</h1>
    <p>Форма для добавления нового продукта.</p>
{% endblock %}
